{
  "client": {
    "name": "{{hostname}}",
    "address": "{{ip_eth0}}",
    "environment": "{{env}}",
    "subscriptions": [
      {{subscritions}}
    ],
    "socket": {
      "bind": "127.0.0.1",
      "port": 3030
    }
  }
}

