
<section class="panel panel-default nm">
    <div [ngBusy]="jspdfSubs">

        <header class="panel-heading clearfix">
            <h3 class="pull-left">Urgent Care Report</h3>

            <button type="button" (click)="ExportToPdfHtml()" class="btn btn-info pull-right">Export to PDF</button>
        </header>

    </div>

    <div #someselector class="panel-body">
        <div class="form-inline clearfix mb-30">
            <h4 class="pull-left">Average Wait Time</h4>

            <div class="pull-right text-right">
                <div class="form-group" *ngIf="DropDownDate">
                    <select  class="form-control"  [(ngModel)]="DropDownDate" (change)="onChangeDropDownDate($event.target.value)">
                        <option [selected]="DropDownDate === 'Last week'" value="Last week">Last week</option>
                        <option [selected]="DropDownDate === 'Last month'" value="Last month">Last month</option>
                        <option [selected]="DropDownDate === 'Year to date'" value="Year to date">Year to date</option>
                    </select>
                </div>

                <span>or</span>

                <div class="form-group">
                    <p-calendar [monthNavigator]="true"
                                [showOtherMonths]="false"
                                placeholder="Select start date"
                                [yearNavigator]="true"
                                [selectOtherMonths]="true"
                                [showIcon]="true"
                                inputStyleClass="form-control"
                                (onSelect)="filterReportByStartDate($event)"
                                yearRange="1945:2030"
                                [ngModelOptions]="{standalone: true}"
                                dateFormat="mm.dd.yy"
                                [(ngModel)]="dateValueStart"></p-calendar>
                </div>

                <span> - </span>

                <div class="form-group">
                    <p-calendar [monthNavigator]="true"
                                [showOtherMonths]="false"
                                placeholder="Select end date"
                                [yearNavigator]="true"
                                [selectOtherMonths]="true"
                                [showIcon]="true"
                                inputStyleClass="form-control"
                                (onSelect)="filterReportByEndDate($event)"
                                yearRange="1945:2030"
                                [ngModelOptions]="{standalone: true}"
                                dateFormat="mm.dd.yy"
                                [(ngModel)]="dateValueEnd"></p-calendar>
                </div>

                <haplo-select-dropdown
                        [options]="clinics"
                        [(ngModel)]="clinic_ids"
                        [texts]="dropdownTexts"
                        [ngModelOptions]="{standalone: true}"
                        (ngModelChange)="onChangeClinic($event)">
                </haplo-select-dropdown>

                <input class="btn btn-info" type="button" (click)="StatisticsGetWaitTime()" value="Apply">
                <button type="button" (click)="ReseFilter()" class="btn btn-info">Reset</button>

            </div>
        </div>

        <canvas #baseChartselector baseChart  *ngIf="dataLineSets && dataLineSets.length && dataLineSets[0] && dataLineSets[0].data && dataLineSets[0].data.length"
                class="chart"
                [datasets]="dataLineSets"
                [labels]="labelsLines"
                [options]="optionsLineChart"
                [colors]="lineColors"
                [chartType]="'line'">
        </canvas>

        <h4 class="pv-20">Patient Visits per Day</h4>
        <canvas #baseChartselector2 baseChart  *ngIf="dataBarSets && dataBarSets.length && dataBarSets[0] && dataBarSets[0].data && dataBarSets[0].data.length"
                class="chart"
                [datasets]="dataBarSets"
                [labels]="labelsBars"
                [options]="optionsBarChart"
                [colors]="barColors"
                [chartType]="'bar'">
        </canvas>
        <div #reportData class="row mt-15">
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-body text-center report-info">
                        <h4>Average no. of Visits/Day</h4>
                        <span *ngIf="urgent_visits" class="text-extra-large">{{urgent_visits.average}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-body text-center report-info">
                        <h4>Average Wait Time</h4>
                        <span *ngIf="wait_time" class="text-extra-large">{{wait_time.average}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-body text-center report-info">
                        <h4>Total no. of Visits</h4>
                        <span *ngIf="urgent_visits" class="text-extra-large">{{urgent_visits.total}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-body text-center report-info">
                        <h4>Longest Wait time</h4>
                        <span *ngIf="wait_time" class="text-extra-large">{{wait_time.longest}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
